.backgroundColor {
  padding-top: 10px;
  background-color: white;
}

.title {
  color: black;
}

.home,
.favorites {
  color: black;
}

/* hover effect */
.home:hover,
.favorites:hover {
  color: #6202ee;
  cursor: pointer;
}
