.drawerCard {
  padding: 10%;
}

.rbtnDrawer {
  border-radius: 100px !important;
}
.DrawerTextField {
  margin-bottom: 15px;
  width: 100%;
}

.DropTextField {
  margin-bottom: 15px;
  width: 100%;
}

.drawerCloseIcon {
  float: right;
}
